<header>
    <div class="header-1">
        <a id="menu-bar" class="fas fa-bars"></a>
        <div class="compnyName">
            <span class="t1">union</span>
            <span class="t2">code</span>
            <img src="codeimage.png" alt="">
        </div>
        <div class="phone-nav">
            <a class="outer-list-item-link" routerLink="/home" routerLinkActive="active">
                <i class="fa fa-home" aria-hidden="true"></i> home
            </a>
            <a class="outer-list-item-link" routerLink="/template" routerLinkActive="active">
                <i class="fa fa-image" aria-hidden="true"></i> templates
            </a>
            <a class="outer-list-item-link" routerLink="/ourservice" routerLinkActive="active">
                <i class="fa fa-wrench" aria-hidden="true"></i> our service
            </a>
            <!-- <a class="outer-list-item-link contactMenu" routerLink="/contact" routerLinkActive="active"> -->
            <a class="outer-list-item-link" id="contactMenu">
                <i class="fa fa-address-book" aria-hidden="true"></i> contact us
                <i class="fa fa-chevron-down listIcon"></i>
            </a>
            <div class="contact-insider-link">
                <a href="https://wa.me/+0201006657092"><i class="fab fa-whatsapp"></i>whatsapp</a>
                <a><i class="fab fa-telegram"></i>telegram</a>
                <a><i class="fa fa-email"></i>e-mail</a>
            </div>
        </div>


        <nav class="computer-nav">
            <div class="outer-list">
                <div class="outer-list-item not-list" aria-hidden="true">
                    <a class="outer-list-item-link " routerLink="/home" routerLinkActive="active">home</a>
                </div>
                <div class="outer-list-item">
                    <a class="outer-list-item-link" routerLink="/template" routerLinkActive="active">
                        templates
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <div class="inner-list">
                        <a class="inner-list-item"><span></span>Simple</a>
                        <a class="inner-list-item"><span></span>Standard</a>
                    </div>
                </div>
                <div class="outer-list-item not-list">
                    <a class="outer-list-item-link" routerLink="/ourservice" routerLinkActive="active">
                        our service
                    </a>
                </div>
                <div class="outer-list-item">
                    <a class="outer-list-item-link">contact us
                    <!-- <a class="outer-list-item-link" routerLink="/contact" routerLinkActive="active">contact us -->
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <div class="inner-list">
                        <a class="inner-list-item" href="https://wa.me/+0201006657092"><span></span>Whatsapp</a>
                        <a class="inner-list-item"><span></span>Telegram</a>
                        <a class="inner-list-item"><span></span>Email</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>


</header>