<div class="all">
    <div class="service-container">
        <h2><span>our</span> service</h2>
        <div class="main-text-container">
            <div class="service-text-1">
                we provide our customers with a unique full optioned service as we make them exactly what they desire by following some steps
            </div>

            <div class="service-text-2">
                <br> if customer already has a pre-knoledge or details about the site he needs , we make him exactly what he wants if not we can give him details by showing :
            </div>
        </div>
        <div class="services">
            <div class="box box1">
                <div class="image">
                    <img src="servic_photo1.jpg" alt="">
                </div>
                <div class="text">
                    <h3><span>Types</span></h3>
                    <p>the main types of web sites .</p>
                </div>
            </div>

            <div class="box box2">
                <div class="image">
                    <img src="servic_photo2.jpg" alt="">
                </div>
                <div class="text">
                    <h3><span>Function</span></h3>
                    <p>the difference between static and dynamic web pages .</p>
                </div>
            </div>

            <div class="box box3">
                <div class="image">
                    <img src="servic_photo3.jpg" alt="">
                </div>
                <div class="text">
                    <h3><span>Template</span> </h3>
                    <p>templates to choose from. </p>
                </div>
            </div>

            <div class="box box4">
                <div class="image">
                    <img src="servic_photo4.jpg" alt="">
                </div>
                <div class="text">
                    <h3><span>Hosting</span></h3>
                    <p>the kinds of web hosting and what is better for their site. </p>
                </div>
            </div>

            <div class="box box5">
                <div class="image">
                    <img src="service_photo5.jpg" alt="">
                </div>
                <div class="text">
                    <h3><span>Manage & Edit</span></h3>
                    <p> how to moderate the web site after uploading it and how to edit if possible. </p>
                </div>
            </div>




        </div>

    </div>









</div>