<header>
    <div id="menu-bar-2" class="fas fa-bars"></div>
    <div class="title">
        <h1>Golden Fish</h1>
    </div>

    <nav class="nav">
        <a>HOME</a>
        <a>MENU</a>
        <a>ABOUT</a>
        <a>CONTACT</a>
    </nav>

    <div class="phone-nav-2">

        <a>
                Home
        </a>
        <a>
             menu
        </a>
        <a>
             about
        </a>
        <a>
             contact
        </a>

    </div>
</header>


<div class="home" id="home">
    <div class="container">
        <h3 class="title"> home</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consequatur in corporis doloremque aspernatur corrupti labore eveniet quidem o
        </p>
    </div>
    <img src="7410d2800cff28c435d6f1714353ac5a.jpg" alt="">
</div>
<!-- start menu -->
<div class="menu" id="menu">
    _MENU_
</div>
<!-- end menu -->
<!--  start menu-fish -->
<div class="fish">
    Fish
</div>
<div class="first">
    <div class="container">
        <div class="box">
            <div class="one">
                <h3 class="title">Grilled salmon</h3>
                <p> Lorem ipsum dolor sit amet consequatur ipsum . Excepturi consequatur</p>
                <h3 class="money">200$</h3>
            </div>
            <img class="one-img" src="images (1).jpeg" alt="">
        </div>
        <div class="box">
            <div class="one">
                <h3 class="title">Grilled salmon</h3>
                <p> Lorem ipsum dolor sit amet consequatur ipsum . Excepturi consequatur</p>
                <h3 class="money">180$</h3>
            </div>
            <img class="one-img" src="images (3).jpeg" alt="">
        </div>

        <div class="box">
            <div class="one">
                <h3 class="title">Grilled salmon</h3>
                <p> Lorem ipsum dolor sit amet consequatur ipsum . Excepturi consequatur</p>
                <h3 class="money">120$</h3>
            </div>

            <img class="one-img" src="images (5).jpeg" alt="">
        </div>
        <!-- start sea food -->
        <div class="fish">
            Sae Food
        </div>
        <!-- end sea food -->
        <div class="box">
            <div class="one">
                <h3 class="title">Grilled salmon</h3>
                <p> Lorem ipsum dolor sit amet consequatur ipsum . Excepturi consequatur</p>
                <h3 class="money">100$</h3>
            </div>

            <img class="one-img" src="تنزيل.jpeg" alt="">
        </div>
        <div class="box">
            <div class="one">
                <h3 class="title">Grilled salmon</h3>
                <p> Lorem ipsum dolor sit amet consequatur ipsum . Excepturi consequatur</p>
                <h3 class="money">225$</h3>
            </div>

            <img class="one-img" src="images.jpg" alt="">
        </div>
        <div class="box">
            <div class="one">
                <h3 class="title">Grilled salmon</h3>
                <p> Lorem ipsum dolor sit amet consequatur ipsum . Excepturi consequatur</p>
                <h3 class="money">230$</h3>
            </div>

            <img class="one-img" src="تنزيل (1).jpeg" alt="">
        </div>
        <!-- start diverse -->
        <div class="fish">
            Diverse
        </div>
        <!-- end diverse -->
        <div class="box">
            <div class="one">
                <h3 class="title">Grilled salmon</h3>
                <p> Lorem ipsum dolor sit amet consequatur ipsum . Excepturi consequatur</p>
                <h3 class="money">180$</h3>
            </div>

            <img class="one-img" src="بلح-البحر.jpg" alt="">
        </div>
        <div class="box">
            <div class="one">
                <h3 class="title">Grilled salmon</h3>
                <p> Lorem ipsum dolor sit amet consequatur ipsum . Excepturi consequatur</p>
                <h3 class="money">180$</h3>
            </div>
            <img class="one-img" src="حبار-البحر.jpg" alt="">
        </div>

        <div class="box">
            <div class="one">
                <h3 class="title">Grilled salmon</h3>
                <p> Lorem ipsum dolor sit amet consequatur ipsum . Excepturi consequatur</p>
                <h3 class="money">180$</h3>
            </div>
            <img class="one-img" src="سمك-القد-Codfish.jpg" alt="">
        </div>

        <div class="box">
            <div class="one">
                <h3 class="title">Grilled salmon</h3>
                <p> Lorem ipsum dolor sit amet consequatur ipsum . Excepturi consequatur</p>
                <h3 class="money">180$</h3>
            </div>
            <img class="one-img" src="سمك-الماكريل.jpg" alt="">
        </div>

        <div class="box">
            <div class="one">
                <h3 class="title">Grilled salmon</h3>
                <p> Lorem ipsum dolor sit amet consequatur ipsum . Excepturi consequatur</p>
                <h3 class="money">180$</h3>
            </div>
            <img class="one-img" src="سمك-سلمون.jpg" alt="">
        </div>


    </div>
</div>

<!--  end menu-fish -->
<!-- start about  -->
<div class="menu" id="about">_ABOUT_</div>
<!-- end about -->





<!-- start main -->

<div class="main">
    <div class="containrt">
        <div class="box">
            <div class="text">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. aliquid beatae. Minima necessitatibus tempora deleniti, aut provident sint nisi maxime corporis ratione dolor facilis. Rem deserunt iste
                    et dolorum illum quidem accusamus atque molestias porro,
                </p>
            </div>

            <div class="img">
                <img src="b2e86dab3e4b50c1b52c1e6954f45170.jpg" alt="">
            </div>
        </div>
    </div>


</div>
<!-- end main -->
<!-- start contact -->
<div class="menu" id="contact">_CONTACT_</div>
<!-- end contact -->


<!-- start contant -->
<div class="contact">
    <div class="form">
        <div class="connect">
            <form action="">
                <input class="input" type="text" placeholder="Your Name" name="name" />
                <input class="input" type="email" placeholder="Your Email" name="email" />
                <input class="input" type="text" placeholder="Your Phone" name="mobile" />
                <textarea class="input" placeholder="Tell Us About Your Needs"></textarea>
                <input type="submit" value="contact us">
            </form>
        </div>
    </div>
</div>
<!-- start contant -->



<footer>
    <div class="footer">
        <p>Lorem ipsum dolor sit amet consectetur, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil libero ipsa recusandae harum aperiam corrupti, adipisci eius reiciendis tempora velit amet id et dicta ducimus. Officia reprehenderit magnam
            icing elit. Eum assumenda sequi rerum a, esse est aliquam sapiente vel commodi. Est natus molestiae quaerat dolorum aperiam inventore,totam nihil quis asperiores?</p>
    </div>
</footer>