<div class="contact_us" id="contct">

    <div class="main-text">
        Ways of contact
    </div>
    <div class="side-text">
        Press any link of these below to reach us.
    </div>
    <div class="links-container">
        <div class="link link1">
            <a href="https://wa.me/+0201006657092"><i class="fab fa-whatsapp"></i>
          whatsapp
        </a>
        </div>

        <div class="link link2">
            <a><i class="fab fa-telegram"></i>
          telegram
        </a>
        </div>

        <div class="link link3">
            <a>E-Mail</a>
        </div>
        <div class="link link4">
            <a><i class="fa fa-phone"></i> telephone :
                <span class="phone-num">01006657092</span>
            </a>
        </div>
    </div>




</div>