<!--
                    <a >show template</a>

        -->
<div class="template-container">
    <div class="top-text-container">
        <div class="template-text-1">
            we present templates in two figures :
        </div>
        <ul class="item-container">
            <li class="item">simple</li>
            <li class="item">standard</li>

        </ul>
    </div>
    <!-- start title -->
    <div class="title">Simple</div>
    <!-- end title -->
    <div class="intro-text">
        here are some simple design sites of our made
    </div>
    <div class="container " id="simple">

        <div class="box">
            <div class="image">
                <img src="golden_fish.png" alt="">
            </div>
            <div class="order">
                <a class="show show1" routerLink="/template/template2" routerLinkActive="active">Show</a>

            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="my_home.png" alt="">
            </div>
            <div class="order">
                <a class="show show2" routerLink="/template/template3" routerLinkActive="active">Show</a>

            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="book_store.png" alt="">
            </div>
            <div class="order">
                <a class="show show3" routerLink="/template/template6" routerLinkActive="active">Show</a>

            </div>
        </div>


    </div>

    <!-- start title -->
    <div class="title">Standard</div>
    <div class="intro-text">
        here we have some standard design sites of our made
    </div>
    <!-- end title -->
    <div class="container" id="standard">
        <div class="box">
            <div class="image">
                <img src="najjar.png" alt="">
            </div>
            <div class="order">
                <a class="show show4" routerLink="/template/template4" routerLinkActive="active">Show</a>

            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="clothing_store.png" alt="">
            </div>
            <div class="order">
                <a class="show show5" routerLink="/template/template1" routerLinkActive="active">Show</a>

            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="company_newproject.png" alt="">
            </div>
            <div class="order">
                <a class="show show6" routerLink="/template/template5" routerLinkActive="active">Show</a>

            </div>
        </div>

    </div>


</div>
