<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;700&display=swap" rel="stylesheet">

<!-- start header -->

<div class="header">

    <div class="container">
        <div id="menu-bar-4" class="fas fa-bars"></div>

        <a class="logo">NAJJAR</a>

        <ul class="main-nav">
            <li><a>Home</a></li>
            <li>
                <a> Our Business</a>
            </li>
            <li>
                <a>Services</a>
            </li>
            <li>
                <a>connect</a>
            </li>
        </ul>
    </div>
    <div class="phone-nav-4">

        <a>
             Home
        </a>
        <a>
             Our Business
        </a>
        <a>
             services
        </a>
        <a>
             connect
        </a>

    </div>
</div>

<!-- end header -->
<!-- start landing -->
<div class="landing">
    <div class="container" id="home">
        <div class="text">
            <h1>bedroom </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolore voluptates possimus sit quis consequatur repudiandae asperiores. natus?
            </p>
        </div>
        <div class="image">
            <img src="star.jpg" alt="">
        </div>
    </div>
</div>
<!-- end landing -->
<div class="our-business" id="our business">our business</div>
<!-- start articles -->
<div class="articles">
    <h2 class="title"></h2>
    <div class="container">

        <div class="box">
            <img src="photo_2023-0bad-27_17-25-37.jpg" alt="">
            <div class="content">
                <h3>test title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fuga, </p>
            </div>
            <div class="info">
                <a>Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>


        <div class="box">
            <img src="photo_2023-bad-27_17-25-46.jpg" alt="">
            <div class="content">
                <h3>test title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fuga, </p>
            </div>
            <div class="info">
                <a>Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>

        <div class="box">
            <img src="photo_2023-bad-27_17-25-49.jpg" alt="">
            <div class="content">
                <h3>test title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fuga, </p>
            </div>
            <div class="info">
                <a>Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>

        <div class="box">
            <img src="photo_2023-liv-27_17-25-19.jpg" alt="">
            <div class="content">
                <h3>test title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fuga, </p>
            </div>
            <div class="info">
                <a>Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>

        <div class="box">
            <img src="photo_2023-liv-27_17-25-42.jpg" alt="">
            <div class="content">
                <h3>test title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fuga, </p>
            </div>
            <div class="info">
                <a>Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>

        <div class="box">
            <img src="photo_2023-liv-27_17-25-44.jpg" alt="">
            <div class="content">
                <h3>test title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fuga, </p>
            </div>
            <div class="info">
                <a>Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>

        <div class="box">
            <img src="photo_2023-kitchen-27_17-25-32.jpg" alt="">
            <div class="content">
                <h3>test title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fuga, </p>
            </div>
            <div class="info">
                <a>Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>

        <div class="box">
            <img src="photo_2023-kitchen-27_17-25-36.jpg" alt="">
            <div class="content">
                <h3>test title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fuga, </p>
            </div>
            <div class="info">
                <a>Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>


        <div class="box">
            <img src="photo_2023-kitchen-27_17-25-34.jpg" alt="">
            <div class="content">
                <h3>test title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fuga, </p>
            </div>
            <div class="info">
                <a>Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>
    </div>
</div>

<!-- end articles -->
<!-- start icon -->
<div class="our-business" id="services">Services</div>
<!-- end icon -->
<!-- start services -->
<div class="services">
    <!-- <h2 class="main-title"></h2> -->
    <div class="container">
        <div class="box">
            <div class="img-holder">
                <img src="photo_2023-07-30_15-41-32.jpg" alt="">
            </div>
            <h2>Quality</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
            <a>More</a>
        </div>

        <div class="box">
            <div class="img-holder">
                <img src="photo_2023-07-30_15-41-35.jpg" alt="">
            </div>
            <h2>Quality</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
            <a>More</a>
        </div>


        <div class="box">
            <div class="img-holder">
                <img src="photo_2023-07-30_15-41-38.jpg" alt="">
            </div>
            <h2>Quality</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
            <a>More</a>
        </div>
    </div>
</div>
<!-- end services -->
<div class="our-business" id="connect">connect</div>

<!-- start contact -->
<div class="form">
    <h2>connect with us</h2>
    <div class="connect">
        <form action="">
            <input class="input" type="text" placeholder="Your Name" name="name" />
            <input class="input" type="email" placeholder="Your Email" name="email" />
            <input class="input" type="text" placeholder="Your Phone" name="mobile" />
            <textarea class="input" placeholder="Tell Us About Your Needs"></textarea>
            <input type="submit" value="send">
        </form>
    </div>
</div>
<!-- end contact -->
<!-- start footer -->
<div class="footer">
    <div class="container">
        <div class="box">
            <h3>NAJJAR</h3>
            <ul class="social">
                <li class="facebook">
                    facebook
                </li>
                <li class="twitter">
                    twitter
                </li>
                <li class="youtube">
                    youtube
                </li>
            </ul>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id unde voluptas adipisci ipsum odio maxime architecto nisi minima. Consequuntur adipisci veritatis, quas perferendis dolore molestiae alias nisi nihil at amet?

            </p>
        </div>
    </div>
</div>
<!-- end footer -->