<!-- start header -->
<div class="header">
    <div id="menu-bar-6" class="fas fa-bars"></div>

    <h1>Book store</h1>

    <ul>
        <li><a>Home</a></li>
        <li><a>Service</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>

    </ul>
    <div class="phone-nav-6">

        <a>
           Home
      </a>
        <a>
           service
      </a>
        <a>
           about
      </a>
        <a>
           contact
      </a>

    </div>

</div>
<!-- end header -->
<!-- start landing -->
<div class="landing">
    <div class="text">
        <h2>BOOKS</h2>
        <p>Ready to something now?</p>
    </div>
</div>
<!-- end landing -->
<!-- start service -->
<div class="service">
    <div class="container">
        <div class="box">
            <div class="icon">
                <i></i>
            </div>
            <div class="text">
                <h3>steo-1</h3>
                <p>Lorem ipsum dolor sit amet, veritatis? Quod mollitia praesentium fugit ab eos dolorem?</p>
            </div>
        </div>

        <div class="box">
            <div class="icon">
                <i></i>
            </div>
            <div class="text">
                <h3>steo-1</h3>
                <p>Lorem ipsum dolor sit amet, veritatis? Quod mollitia praesentium fugit ab eos dolorem?</p>
            </div>
        </div>

        <div class="box">
            <div class="icon">
                <i></i>
            </div>
            <div class="text">
                <h3>steo-1</h3>
                <p>Lorem ipsum dolor sit amet, veritatis? Quod mollitia praesentium fugit ab eos dolorem?</p>
            </div>
        </div>
    </div>

</div>
<!-- end service -->
<!-- start about -->
<div class="about">
    <div class="image">
        <img src="photo_2023-08-04_20-24-40.jpg" alt="">
    </div>
    <div class="text">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad aspernatur debitis veniam consequatur quo ipsam illum velit quisquam, suscipit cum aliquam, quam ea, quia reprehenderit officiis magnam mollitia officia beatae.</p>
    </div>
</div>
<!-- end about -->
<!-- start contact -->
<div class="contact">
    <div class="form">
        <div class="connect">
            <form action="">
                <input class="input" type="text" placeholder="Your Name" name="name">
                <input class="input" type="email" placeholder="Your Email" name="email">
                <input class="input" type="text" placeholder="Your Phone" name="mobile">
                <textarea class="input" placeholder="Tell Us About Your Needs"></textarea>
                <input type="submit" value="contact us">
            </form>
        </div>
    </div>
</div>
<!-- end contact -->
<!-- start footer -->
<div class="footer">
    <div class="container">
        <div class="box">
            <h3>Books </h3>
            <ul class="social">
                <li class="facebook">
                    facebook
                </li>
                <li class="twitter">
                    twitter
                </li>
                <li class="youtube">
                    youtube
                </li>
            </ul>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id unde voluptas adipisci ipsum odio maxime architecto nisi minima. Consequuntur adipisci veritatis, quas perferendis dolore molestiae alias nisi nihil at amet?

            </p>
        </div>
    </div>
</div>
<!-- end footer -->