<div class="page">
    <!-- start header -->



    <header>
        <div id="menu-bar-5" class="fas fa-bars"></div>

        <a class="logo">
            <img src="photo_2023-08-06_16-18-31.jpg" alt="logo">
        </a>
        <h1>Campany</h1>
        <nav>
            <ul>
                <li><a class="active">Home</a></li>
                <li>
                    <a>product</a>
                </li>
                <li>
                    <a>about</a>
                </li>
                <li>
                    <a>contact</a>
                </li>
            </ul>
        </nav>
        <form action="">
            <input type="search" placeholder="search.....">
        </form>
        <div class="phone-nav-5">

            <a>
               Home
          </a>
            <a>
               product
          </a>
            <a>
               about
          </a>
            <a>
               contact
          </a>

        </div>
    </header>
    <!-- end header -->
    <!-- start landing -->
    <div class="landing" id="home">
        <div class="main">
            <div class="text">
                <div class="contant">
                    <h2>
                        Enjoy Life,<br/> Start a hipster
                    </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eligendi amet tempora itaque, quam similique repudiandae facilis rem . Eos autem asperiores facere maxime.</p>
                    <div class="owner">
                        <div class="buy">Registor New</div>
                    </div>
                </div>
            </div>
            <div class="image">
                <img src="image-6.png" alt="">
            </div>
        </div>
    </div>
    <!-- end landing -->
    <!-- start title -->
    <div class="title">
        <div class="main-title" id="product"><span>Our</span> Product</div>
    </div>
    <div class="titles">
        <a class="active" href="template/template5#laptop">Laptop</a>
        <a href="template/template5#mobile">Mobile</a>
        <a href="template/template5#airpods">Airpods</a>
        <a href="template/template5#watch">Smart Watch</a>
    </div>
    <!-- end title -->

    <!-- start product -->

    <div class="product" id="product">

        <div class="box">
            <div class="image" id="laptop"><img src="photo_2023-08-06_16-47-12 (2).jpg" alt=""></div>
            <div class="content">
                <h3>Laptop</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>

        <div class="box">
            <div class="image" id="laptop"><img src="photo_2023-08-06_16-47-12.jpg" alt=""></div>
            <div class="content">
                <h3>Laptop</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>

        <div class="box">
            <div class="image" id="laptop"><img src="photo_2023-08-06_16-47-13.jpg" alt=""></div>
            <div class="content">
                <h3>Laptop</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>

        <div class="box">
            <div class="image" id="laptop"><img src="photo_2023-08-06_16-47-14 (2).jpg" alt=""></div>
            <div class="content">
                <h3>Laptop</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>



        <div class="box">
            <div class="image" id="laptop"><img src="photo_2023-08-06_16-47-15.jpg" alt=""></div>
            <div class="content">
                <h3>Laptop</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>


    </div>

    <!-- ---------- -->
    <div class="titles">
        <a href="template/template5#laptop">Laptop</a>
        <a class="active" href="template/template5#mobile">Mobile</a>
        <a href="template/template5#airpods">Airpods</a>
        <a href="template/template5#watch">Smart Watch</a>
    </div>
    <!-- --------- -->
    <div class="product">

        <div class="box" id="mobile">
            <div class="image"><img src="photo_2023-08-06_16-47-08 (2).jpg" alt=""></div>
            <div class="content">
                <h3>Mobile</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>

        <div class="box">
            <div class="image"><img class="ph" src="photo_2023-08-06_16-47-09.jpg" alt=""></div>
            <div class="content">
                <h3>Mobile</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>

        <div class="box">
            <div class="image"><img class="ph" src="photo_2023-08-06_16-47-10 (2).jpg" alt=""></div>
            <div class="content">
                <h3>Mobile</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>

        <div class="box">
            <div class="image"><img class="ph" src="photo_2023-08-06_16-47-10.jpg" alt=""></div>
            <div class="content">
                <h3>Mobile</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>

        <div class="box">
            <div class="image"><img class="ph" src="photo_2023-08-06_16-47-11 (2).jpg" alt=""></div>
            <div class="content">
                <h3>Mobile</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>

        <div class="box">
            <div class="image"><img class="ph" src="photo_2023-08-06_16-47-11.jpg" alt=""></div>
            <div class="content">
                <h3>Mobile</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>


    </div>

    <!-- ---------- -->
    <div class="titles">
        <a href="template/template5#laptop">Laptop</a>
        <a href="template/template5#mobile">Mobile</a>
        <a class="active" href="template/template5#airpods">Airpods</a>
        <a href="template/template5#watch">Smart Watch</a>
    </div>
    <!-- --------- -->
    <div class="product">

        <div class="box" id="airpods">
            <div class="image"><img src="photo_2023-08-06_16-47-07 (2).jpg" alt=""></div>
            <div class="content">
                <h3>Airpods</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>

        <div class="box">
            <div class="image"><img src="photo_2023-08-06_16-47-07.jpg" alt=""></div>
            <div class="content">
                <h3>Airpods</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>

        <div class="box">
            <div class="image special"><img src="photo_2023-08-06_16-47-08.jpg" alt=""></div>
            <div class="content">
                <h3>Airpods</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>


    </div>


    <!-- ---------- -->
    <div class="titles">
        <a href="template/template5#laptop">Laptop</a>
        <a href="template/template5#mobile">Mobile</a>
        <a href="template/template5#airpods">Airpods</a>
        <a class="active" href="template/template5#watch">Smart Watch</a>
    </div>
    <!-- --------- -->
    <div class="product">

        <div class="box" id="watch">
            <div class="image"><img src="photo_2023-08-06_16-47-04.jpg" alt=""></div>
            <div class="content">
                <h3>Smart Watch</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>

        <div class="box">
            <div class="image"><img src="photo_2023-08-06_16-47-05.jpg" alt=""></div>
            <div class="content">
                <h3>Smart Watch</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>

        <div class="box">
            <div class="image"><img src="photo_2023-08-06_16-47-06.jpg" alt=""></div>
            <div class="content">
                <h3>Smart Watch</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <div class="order">Ordern now</div>
            </div>
        </div>


    </div>
    <!-- end product -->
    <!-- start about -->
    <div class="about" id="about">
        <div class="text">
            <h2>About</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis impedit sit nesciunt, dolorem earum cupiditate quisquam rem repellat eaque aliquid quis. Nobis incidunt beatae, nam aliquid perferendis delectus quia exercitationem.</p>
        </div>
        <div class="image">
            <img src="image-6.png" alt="">
        </div>
    </div>
    <!-- end about -->
    <!-- start contant -->
    <div class="form">

        <div class="connect" id="contact">
            <form action="">
                <input class="input" type="text" placeholder="Your Name" name="name" />
                <input class="input" type="email" placeholder="Your Email" name="email" />
                <input class="input" type="text" placeholder="Your Phone" name="mobile" />
                <textarea class="input" placeholder="Tell Us About Your Needs"></textarea>
                <input type="submit" value="send">
            </form>
        </div>
    </div>
    <!-- end contant -->
    <!-- start footer -->
    <div class="footer">
        <div class="container">
            <div class="box">
                <h3>company</h3>
                <ul class="social">
                    <li class="facebook">
                        facebook
                    </li>
                    <li class="twitter">
                        twitter
                    </li>
                    <li class="youtube">
                        youtube
                    </li>
                </ul>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id unde voluptas adipisci ipsum odio maxime architecto nisi minima. Consequuntur adipisci veritatis, quas perferendis dolore molestiae alias nisi nihil at amet?

                </p>
            </div>
        </div>
    </div>
    <!-- end footer -->
</div>