<div class="home-container">
    <div class="black-colored-container">
        <div class="insider-container">
            <div class="text-1">
                hello customers..!
            </div>
            <div class="text-2">
                this is our official site for web development.
            </div>
            <div class="text-3">get your own website </div>
            <a class="btn btn1" routerLink="/template" routerLinkActive="active">see templates</a>
            <a class="btn2" href="https://wa.me/+0201006657092">order now</a>
        </div>
    </div>
</div>
